
body {

    background-color: white;
    color: black;


}

.navbar1 {

    
    border: 1px solid grey;
    
}

.video1 {

    width: 82.5%;
    object-fit: contain;
    
    z-index: -1;
    
}

.prod1 {

    
    color: white;

    height: 600px;
    background-image: url(./cq5dam.web.2526.2526.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -40px;
    
    border: 10px solid white;

}

.prod2 {

    
    color: white;

    height: 600px;
    background-image: url(./cq5dam.web.1664.1664.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -40px;

    border: 10px solid white;

}



.cont1  {

    margin-top: 40px;
    


}

.autunno-inverno {

    position: absolute;
    left: 13%;
    top: 20%;
    color: white; 
    z-index: 1;
    

}

.autunno-inverno-buttn1 {

    
    position: absolute;
    
    left: 13%;
    top: 30%;
    color: white; 
    background: linear-gradient(white, white);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0px 30px;
    transition: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    text-decoration: none;
    border-bottom: 1px solid white;
    margin-left: 10px;
    z-index: 1;

}   

.autunno-inverno-buttn2 {

    
    position: absolute;
    
    left: 17%;
    top: 30%;
    color: white; 
    background: linear-gradient(white, white);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0px 30px;
    transition: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    text-decoration: none;
    border-bottom: 1px solid white;
    margin-left: 10px;
    z-index: 1;

}   
:hover.autunno-inverno-buttn1 {

    
    
    background-position: 0px 0px;
    color: black;
    border: 0px



}

:hover.autunno-inverno-buttn2 {

    
    
    background-position: 0px 0px;
    color: black;
    border: 0px



}

@media screen and (max-width: 1400px) { 

     
    
    :hover.autunno-inverno-buttn {
    
        
        
        background-position: 0px 0px;
        color: black;
        border: 0px
    
    
    
    }
    
}