
body {

    background-color: white;
    color: black;


}

.navbar1 {

    
    border: 1px solid grey;

}

.video1 {

    width: 82.5%;
    object-fit: contain;
    
    z-index: -1;
    
}

.prod1 {

    
    color: white;

    height: 600px;
    background-image: url(./cq5dam.web.2526.2526.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -40px;
    

}

.prod2 {

    
    color: white;

    height: 600px;
    background-image: url(./cq5dam.web.1664.1664.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -40px;
    

}



.cont1  {

    margin-top: 40px;
    


}

.autunno-inverno {

    position: relative;
    left: 53%;
    top: 5%;
    color: white; 
    z-index: 1;
    background-color: black;

}

.autunno-inverno-buttn {

    
    position: relative;
    
    left: 50%;
    top: 5%;
    color: black; 
    background: linear-gradient(black, black);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0px 30px;
    transition: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin: 0px 10px;
    z-index: 1;

}   

:hover.autunno-inverno-buttn {

    
    
    background-position: 0px 0px;
    color: white;
    border: 0px



}

@media screen and (max-width: 1400px) { 

    .video1{


        opacity: 1;

    }
    
    .autunno-inverno {

        position: relative;
        left: 53%;
        top: 5%;
        color: white; 
        z-index: 1;
        background-color: black;
    
    }
    
    .autunno-inverno-buttn {
    
        
        position: relative;
        
        left: 50%;
        top: 5%;
        color: white; 
        background-color: black;
    }   
    
    :hover.autunno-inverno-buttn {
    
        
        
        background-position: 0px 0px;
        color: white;
        border: 0px
    
    
    
    }
    
}